@media (max-width:1140px) {
    .nav__items {
        margin-right: 0px;
    }

    .catalog__item__bottom__wrapper {
        display: block;
    }

    .catalog__item__add__card {
        margin-top: 10px;
    }

    .nav__item:not(:last-child) {
        margin-right: 20px;
    }
}

@media (max-width:1040px) {
    .catalog__item {
        width: calc(50% - 40px);
    }

   
    .main__wrapper__aboutus__info {
        flex-wrap: wrap;
    }

    iframe {
        height: 350px;
    }

    .product__wrapper img  {
        width: 250px;
    }
}

@media (max-width:1000px) {
    .catalog__item {
        width: 300px;
    }
} 

@media (max-width:915px) { 
    .header__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:861px) { 
    .footer__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:825px) { 
    .catalog__item {
        width: 250px;
    }

    .catalog__item__image {
        width: 100%;
    }
}

@media (max-width:715px) { 
    .nav__item__cart {
        margin-left: 15px;
    }

    .main__wrapper__aboutus__info__item {
        margin-bottom: 20px;
    }
}

@media (max-width:700px) { 
    .catalog__items{
        justify-content: center;
    }
}

@media (max-width:671px) { 
    .nav__items {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav__item__cart {
        margin-left: 0;
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .footer__logo {
        margin-top: 20px;
    }

    .footer__networks__wrapper__tittle {
        padding-bottom: 20px;
    }

    .footer__contact {
        text-align: center;
        padding-bottom: 30px;
    }

    .product__wrapper h1 {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .product__wrapper img {
        width: 200px;
    }
}

@media (max-width:598px) {
    .catalog__item__image {
        width: 200px;
    }

    .product__add__cart {
        margin-top: 10px;
        margin-left: 5px;
    }
}

