*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto; 
}

a {
    text-decoration: none;
}

.app {
    display: grid;
    min-height: 100vh;
    grid-template:  "header-block " auto
                    "main-block" 1fr
                    "footer-block" auto / 1fr;
}

.header {
    grid-area: header-block;
    background-color: rgb(177, 177, 227);
}

.main {
    grid-area: main-block;
}

.footer {
    grid-area: footer-block;
    background-color: rgb(229, 229, 253);
}

.header__wrapper {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.header__logo img, 
.footer__logo img {
    width: 160px;
}

.nav__items {
    display: flex;
    list-style: none;
    margin-left: 10px;
    margin-right: 90px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    align-items: center;
}

.nav__item:not(:last-child){
    margin-right: 40px;
}

.nav__item a {
    font-size: 20px;
    color: rgb(32, 31, 31);
}

.nav__item:hover {
    text-decoration: underline;
}

.nav__item__cart {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    background-image: url(../img/logo__basket.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 .nav__item__cart {
    display: none;
}


.main__wrapper {
    margin: 25px 0;
}

.main__wrapper h1 {
    font-size: 26px;
    margin-bottom: 30px;
}


.main__wrapper__home__promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/techno.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.main__wrapper__home__promo__text {
    padding: 10px;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    background-color: rgba(113, 93, 176, 0.7);
    color: #f1efeb;
    margin: 20px 0;
}

.main__wrapper__home__promo__link {
    background-color: rgba(193, 150, 230, 0.8) ;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 70px;
    color: rgb(241, 246, 250);
    font-weight: bold;
}

.main__wrapper__home__promo__link:hover {
    background-color: rgb(222, 185, 255);
}



.main__wrapper__home__promo__img {
    width: 80%;
}


.main__wrapper__aboutus__text p{
    margin-bottom: 10px;
    line-height: 1.5;
}

.main__wrapper__aboutus__info {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

.main__wrapper__aboutus__info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.main__wrapper__aboutus__info__item__img {
    height: 100px;
}

.main__wrapper__aboutus__info__item__title{
    font-weight: bold;
    padding-top: 10px;
}

.main__wrapper__aboutus__info__item__text {
    padding-top: 5px;
    text-align: center;
}


.main__wrapper__content__header {
    margin-bottom: 40px;
}

.main__wrapper__contact__form__field {
    margin-bottom: 15px;
}

.main__wrapper__contact__form__field input,
.main__wrapper__contact__form__button {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.main__wrapper__contact__form__field input{
    width: 250px;
    padding: 10px;
    border: 1px solid #437;
}

.main__wrapper__contact__form__button {
    padding: 10px 20px;
    margin-bottom: 50px;
    background-color: rgb(211, 211, 250);
    border: none;
    cursor: pointer;
}
.main__wrapper__contact__form__button:hover {
    background-color: rgb(159, 159, 244);
}

.main__wrapper__content__contacts__phone a,
.main__wrapper__content__contacts__mail a {
    color:rgb(51, 50, 50);
}

.main__wrapper__content__contacts__mail {
    margin-top: 10px;
    margin-bottom: 40px;
}



.catalog__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog__item {
    width: calc(33.33% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    
}

.catalog__item__image {
    width: 250px;

}

.catalog__item__image img {
    width: 100%;
    max-height: 300px;
    max-width: 250px;
}

.catalog__item__info {
    padding-top: 10px;
}

.catalog__item__title {
    color: black;
}

.catalog__item__title:hover {
    color: rgb(135, 29, 29);
}

.catalog__item__bottom__wrapper {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

}

.catalog__item__price {
    font-size: 22px;
    color: rgb(196, 48, 48);
}

.catalog__item__add__card {
    background-color: rgb(224, 172, 183);
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.catalog__item__add__card:hover {
    background-color: rgb(212, 138, 154);
}


.product__wrapper {
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.go__back__btn {
    padding: 15px 35px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(224, 206, 219);
    border: none;
}

.go__back__btn:hover {
    background-color: rgb(201, 159, 189);
}

.product__wrapper h1{
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding-bottom: 40px;
}

.product__wrapper img {
    width: 300px;
}

.product__wrapper h2 {
    padding: 20px 0;
    font-size: 18px;
    text-transform: uppercase;
}

.product__wrapper p {
    margin-bottom: 20px;
}

.product__wrapper span {
    font-size: 28px;
    color: rgb(198, 24, 24);
}

.product__add__cart {
    padding: 10px 25px;
    margin-left: 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(247, 216, 216);
    border: none;
}

.product__add__cart:hover {
    background-color: rgb(231, 175, 170);
}

.cart__items {
    list-style: none;
}

.cart__item__wrapper {
    display: flex;
}

.cart__item {
    margin-bottom: 50px;
}

.cart__item__image {
    width: 150px;
    height: 170px;
}

.cart__item__image img {
    width: 100%;
    height: 100%;
}

.cart__item__content {
    padding-left: 30px;
}

.cart__item__tittle {
    font-size: 20px;
    font-weight: bold;
}

.cart__item__price {
    padding-top: 10px;
    font-weight: bold;
    font-size: 24px;
    color: rgb(169, 58, 25);
}

.cart__item__content button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(223, 223, 223);
    border: none;
}

.cart__item__content button:hover {
    background-color: rgb(179, 173, 173);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.footer__contact {
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(51, 50, 50);
}

.footer__contact__email,
.footer__contact__phone {
    padding-bottom: 20px;
}

.footer__contact__email__tittle,
.footer__contact__phone__tittle,
.footer__contact__address__tittle {
    padding-bottom: 7px;

}

.footer__contact__email__link a,
.footer__contact__phone__link a,
.footer__contact__address__link a {
    color: rgb(51, 50, 50);;
}


.footer__networks__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__networks__wrapper__tittle {
    padding-bottom: 60px;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(67, 67, 67);
    letter-spacing: .3rem;
}


.footer__networks {
    display: flex;
}

.footer__networks__bg {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
}

.footer__networks__link:not(:last-child) {
    margin-right: 20px;
}

.fb__link,
.twitter__link,
.insta__link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.fb__link {
    background-image: url(../img/logo_facebook.png);
}

.twitter__link {
    background-image: url(../img/logo_twitter.png);
}

.insta__link {
    background-image: url(../img/logo_inst.png);
}